@font-face {
  font-family: 'PlusJakartaRegular';
  src: url('../fonts/PlusJakartaSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'PlusJakartaMedium';
  src: url('../fonts/PlusJakartaSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'PlusJakartaBold';
  src: url('../fonts/PlusJakartaSans-Bold.ttf');
  font-weight: 700;
}